body {
    background-color: #ffe4e1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Arial", sans-serif;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.flower {
    width: 100px;
    margin-bottom: 10px;
}

button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff1493;
}
